<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F41F9941D458B1400F7BD43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F41F9AA1D458B1400F7BD43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F41F9B51D458B1500F7BD43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
